 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(226, 118, 79);
}
.container{
    margin:0 auto;
}
.counter{
    font-size: 100px;
}
.counterBox{
    box-shadow: 0px 0px 5px 2px gray;
    text-align: center;
    margin:50vh auto;
    padding: 35px 0px;
    height: 60%;
    width: 30%;
    border:2px white solid;
    background-color: rgb(238, 98, 48);
    color:white;
}
button{
    color:white;
    background-color: black;
    padding:10px 5px;
    margin-bottom: 5px;
}